.first-tr p {
    width: 140px;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}


.p1 {
    margin-left: 4px;
}

.p5 {
    margin-right: 4px;
}


.hr1, .hr2 {
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
}

.que-con, .que-tit {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.que-tr p {
    width: 140px;
    padding: 5px 5px;
}